<mat-nav-list>
  <a mat-list-item>
    <mat-icon>lock_open</mat-icon>
    <span class="nav-caption"
          routerLink="/test"
          (click)="onSidenavClose()">Test</span>
  </a>
  <a mat-list-item>
    <mat-icon>lock_open</mat-icon>
    <span class="nav-caption"
          routerLink="/login"
          (click)="onSidenavClose()">Login</span>
  </a>
  <a mat-list-item>
    <mat-icon>folder</mat-icon>
    <span class="nav-caption"
          routerLink="/register"
          (click)="onSidenavClose()">Register</span>
  </a>
  <mat-list-item>
    <button mat-icon-button (click)="onLogout()">
      <mat-icon >lock</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
